{% extends 'base.html' %}

{% block content %}
  <h1>Управление заказами</h1>
  <form method="get">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>Номер заказа</th>
        <th>Номер стола</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for order in object_list %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.table_number }}</td>
        <td>{{ order.status }}</td>
        <td><a href="{% url 'delete_order' order.pk %}">Удалить</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}