{% extends 'base.html' %}

{% block content %}
  <h1>Управление заказами</h1>
  <form method="get">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
  </form>
  <table>
    <thead>
      <tr>
        <th>Номер заказа</th>
        <th>Номер стола</th>
        <th>Список блюд</th>
        <th>Общая стоимость заказа</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      {% for order in object_list %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.table_number }}</td>
        <td>{{ order.items }}</td>
        <td>{{ order.total_price }}</td>
        <td>{{ order.status }}</td>
        <td>
          <form method="post">
            {% csrf_token %}
            <select name="status">
              {% for status, label in STATUS_CHOISES %}
                <option value="{{ status }}" {% if order.status == status %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
            </select>
            <input type="hidden" name="table_number" value="{{ order.table_number }}">
            <button type="submit">Изменить статус</button>
          </form>
          <a href="{% url 'delete_order' order.pk %}">Удалить</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}